.error {
    color: tomato;
}

form {
    &.ui.segment.form {
        background-color: #F1F9FF;
        margin-top: 2em;
    }

    &.form {
        &:after {
            content: '';
            display: block;
            height: 0;
            clear:both;
            visibility: hidden;
        }
    }
}