<form class="ui large form segment">
  <h1 class="ui header">Add Link</h1>
  <div class="filed">
    <label for="title">Title:</label>
    <input type="text" id="title" #titleEl>
  </div>
  <div class="filed">
    <label for="link">Link:</label>
    <input type="text" id="link" #linkEl>
  </div>

  <div>
    <span class="error">{{ errorMessage }}</span>
    <button class="ui positive right floated button" (click)="addArticle(titleEl, linkEl)">Submit Link</button>
  </div>
</form>

<div class="ui grid posts">
  <p *ngIf="!hasArticles()">No articles!</p>
  <app-article *ngFor="let article of sortArticles()" [article]="article"></app-article>
</div>